<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <compilation debug="true"/>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" name="MyPsoDEMO" loginUrl="/login.aspx"/>
    </authentication>
    <!--<machineKey decryption="DES" decryptionKey="gVMgUrcdi28smw+4o75MaNTQxcO+OYno"/>-->
    <pages enableViewState="false"
           enableViewStateMac="false"
           enableSessionState="false"
           autoEventWireup="false" validateRequest="false"
           pageParserFilterType="Claymore.ViewTypeParserFilter, Claymore"
           pageBaseType="Claymore.MyBasePage, Claymore"
           userControlBaseType="Claymore.MyBaseUserControl, Claymore" >
      <namespaces>
        <add namespace="Claymore"/>
        <add namespace="Web.Code"/>
        <add namespace="Claymore.Authentication.PSO"/>
        <add namespace="Claymore.Authentication.PSO.Common"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="*.do" verb="*" type="Claymore.AjaxHandlerFactory, Claymore" validate="true"/>
      <!--将请求转到我们的处理程序-->
      <add path="*.aspx" verb="*" type="Claymore.MvcPageHandlerFactory, Claymore" validate="true"/>
    </httpHandlers>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".do"/>
          <add fileExtension=".do" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <handlers>
      <!--<add name="AjaxHandlerFactory" verb="*" path="*.do" type="MyClassLibrary.AjaxHandlerFactory, MyClassLibrary" preCondition="integratedMode" />-->
      <add name="AjaxHandlerFactory" verb="*" path="*.do" type="Claymore.AjaxHandlerFactory, Claymore" preCondition="integratedMode"/>
      <!--将请求转到我们的处理程序-->
      <add name="MvcPageHandlerFactory" verb="*" path="*.aspx" type="Claymore.MvcPageHandlerFactory, Claymore" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
</configuration>